QGroupBox:enabled {
    color: rgba(59, 58, 57, 1.0);
}

QGroupBox:disabled {
    color: rgba(59, 58, 57, 0.5);
}

QPushButton:enabled {
    background-color: rgba(214, 208, 206, 1.0);
    color: rgba(59, 58, 57, 1.0);
    border: none;
}

QPushButton:disabled {
    background-color: rgba(214, 208, 206, 0.5);
    color: rgba(59, 58, 57, 0.5);
    border: none;
}

QPushButton:hover {
    background-color: rgba(189, 182, 179, 1.0);
}

QSpinBox:enabled QDoubleSpinBox:enabled {
    background-color: rgba(214, 208, 206, 1.0);
}

QSpinBox:disabled, QDoubleSpinBox:disabled {
    background-color: rgba(214, 208, 206, 0.5);
    color: rgba(59, 58, 57, 0.5);
}

QCheckBox:enabled {
    color: rgba(59, 58, 57, 1.0);
}

QCheckBox:disabled {
    color: rgba(59, 58, 57, 0.5);
}

QCheckBox::indicator:enabled {
    color: rgba(59, 58, 57, 1.0);
}

QCheckBox::indicator:disabled {
    color: rgba(59, 58, 57, 0.5);
}

QLineEdit:enabled {
    background-color: rgba(203, 199, 198, 1.0);
    color: rgba(59, 58, 57, 1.0);
    font-size: 13px;
}

QLineEdit:disabled {
    background-color: rgba(203, 199, 198, 0.5);
    color: rgba(59, 58, 57, 0.5);
    font-size: 13px;
}

QLineEdit#labelLineEdit:enabled {
    color: rgba(59, 58, 57, 1.0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}

QLineEdit#labelLineEdit:disabled {
    color: rgba(59, 58, 57, 0.5);
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}

ActionButton {
    min-width: 320px;
}

QLabel#divider {
    background-color: rgba(215, 210, 207, 1);
}